<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Student Report Entry</title>
</head>
<body>
  <h2>Student Report Card Form</h2>
  <form action="/submit" method="POST">
    <label>Name:</label>
    <input type="text" name="name" required><br><br>

    <label>Roll Number:</label>
    <input type="text" name="roll" required><br><br>

    <h4>Subjects and Marks</h4>

    <div id="subjects">
      <div>
        <input type="text" name="subject" placeholder="Subject" required>
        <input type="number" name="marks" placeholder="Marks" required>
      </div>
    </div>

    <button type="button" onclick="addField()">Add More</button><br><br>
    <button type="submit">Generate Report</button>
  </form>

  <script>
    function addField() {
      const container = document.getElementById("subjects");
      const div = document.createElement("div");
      div.innerHTML = `
        <input type="text" name="subject" placeholder="Subject" required>
        <input type="number" name="marks" placeholder="Marks" required>
      `;
      container.appendChild(div);
    }
  </script>
  <form action="/delete_all" method="POST">
    <button type="submit" onclick="return confirm('Are you sure you want to clear all records?')">
        Clear All Records
    </button>
</form>

</body>
</html>
